@model PakBus.Models.Bus

@{
    ViewData["Title"] = "Create Bus";
}

<h1>Create Bus</h1>

<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusNumber" class="control-label"></label>
                <input asp-for="BusNumber" class="form-control" />
                <span asp-validation-for="BusNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureCity" class="control-label"></label>
                <input asp-for="DepartureCity" class="form-control" />
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity" class="control-label"></label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fare" class="control-label"></label>
                <input asp-for="Fare" class="form-control" />
                <span asp-validation-for="Fare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsAvailable" class="control-label"></label>
                <input asp-for="SeatsAvailable" class="form-control" />
                <span asp-validation-for="SeatsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}