/* _Layout.cshtml.css */

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

header {
	background-color: #333;
	color: #fff;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-nav .nav-link {
	color: #fff;
}

.navbar-nav .nav-link:hover {
	background-color: #555;
}

.container {
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}
